.devanshu {
    display: flex;

}

@media(max-width:768px) {
    .devanshu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.why-choose-us-right-slider {
    margin-bottom: 300px;
}

@media(max-width:768px) {
    .why-choose-us-right-slider {
        margin-bottom: 40px !important;
    }
}