.dashboard-main-box {
    margin-top: 40px !important;
}

.dashboard-container-box {
    cursor: pointer;
    width: 260px !important;
    height: 165px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px -6px gray;
    border-radius: 15px;
    /* padding: 35px ; */
    background-color: #242526;

}


.dashboard-container {
    margin: 0px 0px 20px 0px;
}


.dashboard-container {
    flex-wrap: wrap !important;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 14px !important;
}

.dashboard-container-box {
    cursor: pointer;
    width: 190px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 20px -6px gray;
    border-radius: 15px;
    /* padding: 35px ; */
    background-color: #242526;

}

.dashboard-container-box span {
    font-size: 20px;
    color: white;
    font-size: 500;
}



.dashboard-boxes {
    background: rgb(119, 55, 255);
    background: linear-gradient(317deg, rgba(119, 55, 255, 1) 0%, rgba(75, 15, 201, 1) 0%, rgba(65, 65, 65, 1) 67%) !important;
}


@media (max-width:768px) {



    .dashboard-container {
        width: 100%;
        gap: 20px !important;
        /* flex-wrap: nowrap !important; */
    }
}